<section id="contact">
    <div class="max-width_container">
        <div class="headline_container">
            <div class="headline">
                <div data-aos="fade-right" data-aos-once="true" class="line_headline"></div>
                <h2>Contact</h2>
            </div>
        </div>
        <div class="contact_container">
            <div class="contact_contant">
                <span>Got a problem to solve?</span>
                <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to
                    your
                    projects with my work.
                </p>
                <span>Need a Frontend developer?<b> Contact me!</b></span>
                <a href="mailto:contact@kevin-ammerman.com">contact@kevin-ammerman.com</a>
            </div>
            <form (ngSubmit)="onSubmit()" [formGroup]="contactForm">
                <div class="form_row">
                    <label for="name"></label>
                    <input [class.disabled]="isSent" id="name" formControlName="name" data-aos="flip-down"
                        data-aos-duration="800" data-aos-delay="200" data-aos-once="true" type="text"
                        placeholder="Your name" [class.error-border]="contactForm.get('name')?.invalid && isSubmited"
                        [class.success-border]="contactForm.get('name')?.valid">
                    <div class="error_box">
                        <small
                            *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required'] || contactForm.get('name')?.invalid &&  !isSent && isSubmited">Please
                            enter your name.</small>
                    </div>
                </div>
                <div class="form_row">
                    <label for="email"></label>
                    <input [class.disabled]="isSent" id="email" formControlName="email" data-aos="flip-down"
                        data-aos-duration="800" data-aos-delay="300" data-aos-once="true" type="email"
                        placeholder="Your email" [class.error-border]="contactForm.get('email')?.invalid && isSubmited"
                        [class.success-border]="contactForm.get('email')?.valid">
                    <div class="error_box">
                        <small
                            *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['required'] || contactForm.get('email')?.invalid && !isSent && isSubmited">Please
                            enter your e-mail.</small>
                        <small
                            *ngIf="contactForm.get('email')?.touched && contactForm.get('email')?.errors?.['email']">This
                            is not a valid e-mail.</small>
                    </div>
                </div>
                <div class="form_row">
                    <label for="text"></label>
                    <textarea [class.disabled]="isSent" id="text" formControlName="text" data-aos="flip-down"
                        data-aos-duration="800" data-aos-delay="400" data-aos-once="true" placeholder="Your message"
                        name="message" id="message" cols="30" rows="10" [class.error-border]="contactForm.get('text')?.invalid && isSubmited"
                        [class.success-border]="contactForm.get('text')?.valid"></textarea>
                        <div class="error_box">
                            <small
                                *ngIf="contactForm.get('text')?.touched && contactForm.get('text')?.errors?.['required'] || contactForm.get('text')?.invalid && !isSent && isSubmited">Please
                                enter a message.</small>
                        </div>
                </div>
                <div class="privacy-box" data-aos="fade-left" data-aos-duration="800" data-aos-delay="400" data-aos-once="true">
                    <div class="cbx">
                        <input formControlName="privacy" id="cbx" type="checkbox"/>
                        <label for="cbx"></label>
                        <svg width="15" height="14" viewbox="0 0 15 14" fill="none">
                          <path d="M2 8.36364L6.23077 12L13 2"></path>
                        </svg>
                      </div>
                    <span [class.error-border]="!contactForm.get('privacy')?.value && isSubmited">I've read the <a routerLink="privacy-policy">privacy policy</a> and agree to the processing of my data as outlined.</span>
                </div>
                <div class="btn_box">
                    <button type="submit" [disabled]="isSent" data-aos="flip-down"
                        data-aos-duration="800" data-aos-delay="500" data-aos-once="true">{{ message }}</button>
                </div>
                <div [class.dNone]="!isSent" class="container_animation">
                    <div class="box">
                        <div class="border one"></div>
                        <div class="border two"></div>
                        <div class="border three"></div>
                        <div class="border four"></div>

                        <div class="line one"></div>
                        <div class="line two"></div>
                        <div class="line three"></div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <img class="blue_shadow" src="assets/img/blue_shadow.png" alt="blue shadow">
    <img class="green_shadow" src="assets/img/green_shadow.png" alt="light blue shadow">
    <a class="back_home_btn" href="#home"><img src="assets/img/go_up_button.png"
            alt="logo of a arrow showing upwards"></a>
</section>